.imagen{
    background-color: darkslategrey;
}
.formulario{
    background-color: darkgrey;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
    